* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
    background-color: #bdbdbd;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h2, h3, a {
    color: #34495e;
}

a {
    text-decoration: none;
}

.logo {
    margin: 0;
    font-size: 1.45em;
}

.main-nav {
    margin-top: 5px;
}

.logo a,
.main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.main-nav a {
    color: #34495e;
    font-size: .99em;
}

.main-nav a:hover {
    color: #718daa;
}

.header {
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: rgb(246, 246, 246);
}

.main {
    display: flex;
    flex-direction: column; /* Cambio a column para pantallas más pequeñas */
    background-color: white;
    margin: 20px;
}

.flex-container {
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 90%;
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

.flex-item {
    position: relative;
    width: 100%; /* Cambio al 100% para ocupar todo el ancho en pantallas más pequeñas */
    height: 400px;
    margin-top: 10px;
    font-weight: 300;
    font-size: 1em;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-color: #353538;
    background-blend-mode: overlay;
}

.span {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-weight: 100;
    letter-spacing: 0.02rem;
    line-height: 1rem;
    transition: all 0.3s;
    color: white;
}

.fluid-form {
    display: flex;
}

.fluid-form > div {
    width: 50%;
}

.fluid-form > div + div {
    margin-left: 1em;
}

.fluid-form input:not([type=submit]) {
    flex: 1;
    display: block;
    min-width: 0;
}

.fluid-form + .fluid-form {
    display: flex;
    flex-direction: column;
}

.fluid-form textarea {
    flex: 1;
    display: block;
}

.fluid-form {
    max-width: 1200px;
    margin: auto;
    padding: 1em;
    background: rgba(0, 0, 0, .1);
    color: #333;
    font-size: 1.4em;
    font-family: georgia, "trebuchet ms", arial, serif;
}

.fluid-form h1 {
    margin-top: 20px;
    margin-bottom: 40px;
    color: #345;
    text-shadow: 1px 1px 1px #fff;
}

.fluid-form > div {
    padding: 1em;
    background: #fff;
    border: 1px solid gray;
    border-radius: 4px;
}

.fluid-form input,
.fluid-form textarea {
    padding: .3em;
    border: 1px solid #555;
    border-radius: 4px;
    font-family: inherit;
    font-size: inherit;
    background: rgba(0, 0, 0, .02);
}

.fluid-form input:focus,
.fluid-form textarea:focus {
    outline: none;
}

.fluid-form input[type="submit"] {
    padding: .3em 1em;
    background: #555;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.fluid-form label {
    width: 5em;
    margin-right: .5em;
    text-align: right;
}

.fluid-form input[type="submit"] {
    margin-left: auto;
}

.fluid-form div:first-child p:first-child {
    justify-content: flex-end;
}

.fluid-form textarea {
    resize: vertical;
    color: #aaa;
	width: 100%;
}

.fluid-form div > p:first-child {
    margin-top: 0;
}

.fluid-form div > p:last-child {
    margin-bottom: 0;
}

.fluid-form small {
    font-size: 0.8rem;
    color: #aaa;
}

/*footer*/
footer {
    background-color: #d0d0d0;
    color: #34495e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer>p {
    font-size: 1.125em;
}

/* media query */
@media (max-width: 600px) {
    .fluid-form {
        flex-direction: column;
    }

    .fluid-form p {
        display: block;
    }

    .fluid-form label {
        display: block;
        width: auto;
        text-align: left;
    }

    .fluid-form > div {
        width: auto;
    }

    .fluid-form > div + div {
        margin-left: 0;
        margin-bottom: 1em;
        order: -1;
    }

    .fluid-form input {
        width: 100%;
    }
}

@media (min-width: 769px) {
    .header,
    .main-nav {
        display: flex;
    }

    .header {
        flex-direction: column;
        align-items: center;
        .header {
            width: 80%;
            margin: 0 auto;
            max-width: 1150px;
        }
    }

    .main {
        width: calc(100% - 40px);
        margin: 20px auto;
    }
}

@media (min-width: 1025px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}
